.img-nft  {
  background-image: url('../../Website/img/entrada.png');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  p {
    color: white;
    font-size: 20px;
  }
}

.img-ogham {
  background-image: url('../../Website/img/008_mainmenu_BG.jpg');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  p {
    color: white;
    font-size: 20px;
  }
}